body {
  width: 100%;
  margin: 0;
  padding: 2% 10%;
  font-size: 18px;
  line-height: 1em;
  font-family: "OpenSans";
  background: rgb(247, 247, 247);
  border-top: 5px solid #57ad68;
  color: #333332;
}

article {
  position: relative;
  display: inline-block;
  width: 35%;
  margin: 1%;
  background: white;
  text-align: left;
  padding: 20px;
  vertical-align: top;
  border: 3px solid #eee;
  border-radius: 3px;
}

strong {
  margin-left: 30px;
  border-radius: 2px;
  border-bottom: 1px solid #eee;
  border: 2px solid rgb(64, 138, 78);
  color: rgb(64, 138, 78);
  padding: 3px 5px;
  font-weight: 600;
}

img {
  width: 90%;
  margin: 5%;
}

h1 {
  font-size: 1.4em;
  margin-left: 20px;
  font-weight: normal;
}

h2 {
  display: inline-block;
  margin-left: 30px;
  font-size: 1.3em;
  margin: 0 30px;
  margin-top: 10px;
  border-bottom: 1px solid #eee;
  padding-bottom: 7px;
  font-weight: normal;
}

h3 {
  font-size: 0.8em;
  color: #999;
  margin-left: 20px;
  margin-bottom: 40px;
  font-weight: normal;
}

ul {
  margin-left: 30px;
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

a {
  display: block;
  margin-left: 30px;
  margin-top: 35px;
  cursor: pointer;
  height: 45px;
  width: 190px;
  background: #57ad68;
  text-decoration: none;
  line-height: 3em;
  text-align: center;
  border: 0;
  color: white;
  border-radius: 3px;
  font-size: 0.8em;
  border-bottom: 3px solid rgb(64, 138, 78);
}

i {
  font-size: 1.3em;
  margin-right: 10px;
  margin-left: 5px;
}

.sold-overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #ddd;
  opacity: 0.5;
}

.sold {
  display: none;
  top: 200px;
  background-image: linear-gradient(to bottom,rgb(255, 50, 50), rgb(202, 0, 44) 130%);
  left: 25%;
  color: white;
  border-radius: 2px;
  font-weight: 500;
  font-size: 1.3em;
  border: 1px solid rgb(202, 0, 44);
  -webkit-transform: rotate(6deg);
  position: absolute;
  padding: 25px 65px;
}

article.finish .sold {
  display: inline;
}

article.finish .sold-overlay {
  display: inline;
}